body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

a button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a button:hover {
    background-color: #555;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #333;
    color: #fff;
}

td a button {
    padding: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

td a button:hover {
    background-color: #555;
}

/* Styles for forms in registrar.php and editar.php */
form {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

form a button {
    background-color: #999;
}

form a button:hover {
    background-color: #bbb;
}

#headerUGB {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    background-color: darkblue;
    padding-right: 50px;
    height: auto;
}

#headerUGB h1 {
    color: white;
    font-size: 12;
    text-align: center;
}

#logoUGBimg {
    width: 175px;
    height: 80.28px;
    align-self: center;
}

#listadoHeader {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-align: right;
}

#footerUGB {
    background-color: #2973B2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

#footerUGB ul {
    color: white;
    list-style: none;
    text-align: center;
}